<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.FilmActorMapper">
	
	<!-- film 삭제시 film_actor들을 삭제 -->
	<delete id="deleteActorByFilm" parameterType="Integer">
		DELETE FROM film_actor
		WHERE film_id = #{filmId}
	</delete>
	
	<!-- 배우 삭제시 film_actor들을 삭제 -->
	<delete id="deleteFilmByActor" parameterType="int">
		DELETE FROM film_actor
		WHERE actor_id = #{actorId}
	</delete>
	
	<!-- 특정 배우와 특정 영화 간의 관계를 삭제 -->
	<delete id="deleteFilmActor" parameterType="com.example.sakila.vo.FilmActor">
		DELETE FROM film_actor
		WHERE actor_id = #{actorId} AND film_id = #{filmId}
	</delete>
	
	<!-- 특정 배우와 특정 영화 간의 관계를 추가 -->
	<insert id="insertFilmActor" parameterType="com.example.sakila.vo.FilmActor">
		INSERT INTO film_actor (
			actor_id
			, film_id
		) VALUES (
			#{actorId}
			, #{filmId}
		)
		
	</insert>
</mapper>